[submodule "multibuild"]
	path = multibuild
	url = https://github.com/matthew-brett/multibuild.git
[submodule "Python-software"]
	path = Python-software
	url = https://github.com/selective-inference/Python-software.git
